<!-- PAGE TITLE -->
<div class="page-title">
    <ul class="breadcrumb">
        <li><a ui-sref="orders"><i class="fa fa-dashboard"></i> Orders</a></li>
        <li class="active">
            <span ng-if="vm.isNew">Add Order</span>
            <span ng-if="!vm.isNew">Update Order</span>
        </li>
    </ul>
</div>
<!-- END PAGE TITLE -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form method="post" name="orderForm">
                    <div class="form-group">
                        <label for="Name">Inventory Name</label>
                        <select class="form-control" ng-model="vm.order.inventoryId" ng-options="inventory._id as inventory.name for inventory in vm.inventories"
                            ng-required="true" ng-disabled="!vm.isNew"></select>
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="number" id="Quantity" class="form-control" ng-model="vm.order.quantity"
                            ng-required="true" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveOrder(orderForm)">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>