<!-- PAGE TITLE -->
<div class="page-title">
    <ul class="breadcrumb">
        <li><a ui-sref="inventory"><i class="fa fa-dashboard"></i> Inventory</a></li>
        <li class="active">
            <span ng-if="vm.isNew">Add Inventory</span>
            <span ng-if="!vm.isNew">Update Inventory</span>
        </li>
    </ul>
</div>
<!-- END PAGE TITLE -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form method="post" name="inventoryForm">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" id="Name" class="form-control" ng-model="vm.inventory.name" ng-required="true"
                            ng-disabled="!vm.isNew" />
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <input type="number" id="Quantity" class="form-control" ng-model="vm.inventory.quantity"
                            ng-required="true" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveInventory(inventoryForm)">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>